<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wubo.api.mapper.NewsMapper">
    <select id="pageQuery" resultType="com.wubo.api.entity.News">
        SELECT n.*, u.name as university_name
        FROM news n
        LEFT JOIN university u ON n.university_id = u.id
        <where>
            <if test="title != null and title != ''">
                AND n.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="type != null and type != ''">
                AND n.type = #{type}
            </if>
            <if test="status != null">
                AND n.status = #{status}
            </if>
            <if test="universityId != null">
                AND n.university_id = #{universityId}
            </if>
            <if test="categoryId != null">
                AND n.category_id = #{categoryId}
            </if>
        </where>
        ORDER BY n.created_at DESC
    </select>
</mapper> 